<div class="container">
  <div class="prod-card">
    <div class="prod-card__header">
      <div class="prod-card__like-widget"></div>
      <div class="prod-card__characteristics">
        <div class="prod-card__svg-bg"></div>
        <div class="prod-card__svg-bg"></div>
        <div class="prod-card__svg-bg"></div>
        <div class="prod-card__characteristics-quantity">+3</div>
      </div>
    </div>
    <div class="prod-card__visual">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="prod-card__photo-bg"></div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="prod-card__photo-bg"></div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="prod-card__photo-bg"></div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="prod-card__title">Just Milk Semi-Skimmed 6 x 1L (Case of 2)</div>
    <div class="prod-card__info-price">1 pc / £1.59</div>
    <div class="prod-card__prod-menu">
      <div class="prod-card__main-price">£1.59</div>
      <div class="prod-card__actions">
        <div class="prod-card__delete"><div class="prod-card__delete-bg-svg"></div></div>
        <div class="prod-card__quantity">2</div>
        <div class="prod-card__plus"><div class="prod-card__plus-bg-svg"></div></div>
      </div>
    </div>
    <div class="prod-card__more">
      <div class="prod-card__more-item">Nutrition</div>
      <div class="prod-card__more-item text-center">Ingredients</div>
      <div class="prod-card__more-item text-right">Other</div>
    </div>
  </div>
</div>
