@import 'styles/card-prod-styles';

*, *:hover, *:before {
  box-sizing: border-box;
}

//
//* {
//  margin: 0;
//  padding: 0;
//  border: 0;
//  border-radius: 0;
//  outline: none;
//}

body {
  overflow-x: hidden;
  background: #f5f4f2;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 24px;
}
